body
	background: $primary-color

.top-nav
	background: $primary-color-dark
	padding: 20px 0 0
	text-align: left
	color: #ffffff

	p
		padding: 0
		margin: 0

label
	color: #ffffff

input:focus
	border-bottom: 1px solid $primary-color-light
	box-shadow: 0 1px 0 0 $primary-color-light
